body {
  background-color: #ccc;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

li {
  width: 60%;
  list-style:none;
  border: 1px solid gray;
  font-size: 36px;
  margin: 0 auto;
  border-radius: 6px;
}

form {
  width: 60%;
  margin: 0 auto;
  font-size: 36px;
}
